
body{
    background-color: black;
}
main{
    background-color: black;
    height: 100vh;
    color: blue;
    font-size: 200px;
    text-align: center;
    padding-top: 30px;
    
}
main i:hover{
    color:rgb(255, 255, 255)
    
}
.facebook{
    font-size: 10px;
    color: red;
}
.whatsapp{
    font-size: 10px;
    color: red;
    
}
.instagram{
    font-size: 10px;
    color: red;
    
}
.youtube{
    font-size: 10px;
    color: red;
    
}
